<nav class="navbar navbar-expand-sm bg-blue-personalized w-100">
  <div class="container">
    <div>
      <a class="navbar-brand" href="#">
        <img width="190" src="../assets/img/LOGO_IKOMI.png" alt="">
      </a>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-white active" aria-current="page" routerLink="/inicio">Inicio</a>
        <a class="nav-link text-white" routerLink="/nosotros">Nosotros</a>
        <a class="nav-link text-white" routerLink="/servicios">Servicios</a>
        <a class="nav-link text-white" routerLink="/productos">Productos</a>
        <a class="nav-link text-white" routerLink="/marcas">Marcas</a>
        <a class="nav-link text-white" routerLink="/contactos">Contactos</a>
      </div>
    </div>
  </div>
</nav>


<router-outlet />


<!-- FOOTER -->
<footer id="footer" class="pt-4 bg-dark text-white">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <!--1 columna-->
        <div class="col-lg-3 col-md-6 footer-contact">
          <br>
          <h3>IKOMI PERU</h3>
          <p>
            Empresa importadora y comercializadora de repuestos para todo tipo de vehículos con calidad y a precios de
            mercado.
          </p>

          <br>

          <div class="social-links text-center text-md-end pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/ikomi.peru?locale=es_LA" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/ikomi.peru?utm_source=ig_web_button_share_sheet&amp;igsh=ZDNlZDc0MzIxNw==" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>

          </div>
        </div>

        <!--4 columna-->
        <div class="col-lg-7">

          <!---->

          <div class="row">
            <div data-aos="fade-right" class="col-md-12 aos-init">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Dirección</h3>
                <p>Avenidad Nicolás Ayllon 3384 <br>
                  Carretera Central - Paradero Rayovac<br>
                  Lima - Ate </p>
              </div>
            </div>
            <div data-aos="zoom-in" class="col-md-6 aos-init">
              <div class="info-box mt-4">
                <i class="bx bx-envelope"></i>
                <h3>Correo</h3>
                <p>{{'ventas@ikomiperu.com'}}<br>{{'ventas@ikomiperu.com'}}</p>
              </div>
            </div>
            <div data-aos="zoom-in" class="col-md-6 aos-init">
              <div class="info-box mt-4">
                <i class="bx bx-phone-call"></i>
                <h3>Teléfonos</h3>
                <p>985 068 416<br>981 453 306</p>
              </div>
            </div>
          </div>

        </div>
        <br>
        <br>

        <!--2 columna-->
        <div class="col-lg-2 col-md-6 footer-links">
          <br>
          <h4>Links</h4>
          <br>
          <ul>
            <li><i class="bx bx-home-alt-2"></i> <a class="nav-link scrollto active" href="#hero"> Inicio</a></li>
            <li><i class="bx bxs-business"></i> <a class="nav-link scrollto" href="#about">Nosotros</a></li>
            <li><i class="bx bxs-briefcase-alt-2"></i> <a class="nav-link scrollto" href="#services">Servicios</a>
            </li>
            <li><i class="bx bxl-product-hunt"></i> <a class="nav-link scrollto " href="#portfolio">Producto</a></li>
            <li><i class="bx bxl-microsoft-teams"></i> <a class="nav-link scrollto" href="#team">Equipo</a></li>
            <li><i class="bx bxs-contact"></i> <a class="nav-link scrollto" href="#contact">Contáctenos</a></li>

          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">

      <div class="credits">
        Copyright © 2024 <a href="#">Grupo IKOMI PERU</a>
      </div>
    </div>
  </div>
</footer>
